<div class="row">
  <div class="col-3">
    <app-device></app-device>
  </div>
  <div class="col-3">
    <app-pas></app-pas>
  </div>
  <div class="col-3">
    <app-cve></app-cve>
  </div>
  <div class="col-3">
    <app-alert></app-alert>

  </div>
</div>
<div class="col-12 xl:col-6">
  <div class="card">
    <div class="flex justify-content-between">
      <h4>Recent Sales</h4>
      <p-dropdown [options]="orderWeek" [(ngModel)]="selectedOrderWeek" optionLabel="name" (onChange)="recentSales($event)" styleClass="w-9rem"> </p-dropdown>
    </div>

    <p>Your sales activity over time.</p>

    <p-table [value]="products" [paginator]="true" [rows]="5" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id" style="width:10%;min-width:6rem;">ID
            <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="category" style="width:30%;min-width:10rem;">Category
            <p-sortIcon field="category"></p-sortIcon>
          </th>
          <th pSortableColumn="price" style="width:20%;min-width:10rem;">Price
            <p-sortIcon field="price"></p-sortIcon>
          </th>
          <th pSortableColumn="inventoryStatus" style="width:30%;min-width:10rem;">Status
            <p-sortIcon field="inventoryStatus"></p-sortIcon>
          </th>
          <th style="width:10%;min-width:6rem;"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            <span class="p-column-title">Id</span>
            {{product.id}}</td>
          <td>
            <span class="p-column-title">Category</span>
            {{product.category}}</td>
          <td>
            <span class="p-column-title">Price</span>
            {{product.price | currency:'USD'}}</td>
          <td>
            <span class="p-column-title">Status</span>
            <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
          </td>
          <td style="text-align: center">
            <button pButton type="button" icon="pi pi-search"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<div class="col-12 xl:col-6">
  <div class="card">
    <div class="flex w-full justify-content-between align-items-center">
      <h4>Orders</h4>
      <button type="button" pButton class="p-button-icon-only p-button-text p-button-secondary" icon="pi pi-search" label="Show" (click)="menu.toggle($event)"></button>
    </div>
    <p-menu #menu [popup]="true" [model]="items"></p-menu>

    <div class="grid mt-3">
<!--      <div class="col-6 md:col-3 relative transition-all transition-duration-300 hover:shadow-3 cursor-pointer h-5rem" (click)="changeDataset($event); chart.reinit()" data-label="New Orders" data-index="0" data-fill="rgba(100, 181, 246, 0.2)" data-stroke="#BBDEFB">-->
        <span class="flex align-items-center"><i class="pi pi-plus-circle mr-1"></i> New</span>
        <img src="assets/demo/images/dashboard/graph-new.svg" class="absolute w-11" style="left: 5%; bottom: 0">
      </div>
<!--      <div class="col-6 md:col-3  relative transition-all transition-duration-300 hover:shadow-3 cursor-pointer h-5rem" (click)="changeDataset($event); chart.reinit()"  data-label="Completed Orders" data-index="1" data-stroke="#C5CAE9" data-fill="rgba(121, 134, 203, 0.2)">-->
        <span class="flex align-items-center"><i class="pi pi-check-circle mr-1"></i> Completed</span>
        <img src="assets/demo/images/dashboard/graph-completed.svg" class="absolute w-11" style="left: 5%; bottom: 0">
      </div>
<!--      <div class="col-6 md:col-3  relative transition-all transition-duration-300 hover:shadow-3 cursor-pointer h-5rem" (click)="changeDataset($event); chart.reinit()" data-label="Refunded Orders" data-index="2" data-stroke="#B2DFDB" data-fill="rgba(224, 242, 241, 0.5)">-->
        <span class="flex align-items-center"><i class="pi pi-refresh mr-1"></i> Refunded</span>
        <img src="assets/demo/images/dashboard/graph-refunded.svg" class="absolute w-11" style="left: 5%; bottom: 0">
      </div>
<!--      <div class="col-6 md:col-3  relative transition-all transition-duration-300 hover:shadow-3 cursor-pointer h-5rem" (click)="changeDataset($event); chart.reinit()" data-label="Cancelled Orders" data-index="3" data-stroke="#B2EBF2" data-fill="rgba(224, 247, 250, 0.5)">-->
        <span class="flex align-items-center"><i class="pi pi-times-circle mr-1"></i> Cancelled</span>
        <img src="assets/demo/images/dashboard/graph-cancelled.svg" class="absolute w-11" style="left: 5%; bottom: 0">
<!--      </div>-->

      <div class="col-12 mt-5">
<!--        <p-chart #chart type="line" [data]="ordersChart" [options]="ordersChartOptions" id="order-chart"></p-chart>-->
      </div>
<!--    </div>-->
<!--  </div>-->



